.Header {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #646464;
    z-index: 100;
}

.Header > .UserName {
    padding: 0 12px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    justify-self: center;
}